.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: lato;
}

:root {
    --primary-color: #272a31;
    --secondary-color: #ec5242;
    --text-color: #d3d3d3;
  }



  .top_nav{
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0 90px ;
  }

a{
    margin: 0 10px;
    text-decoration: none;
    color: var(--text-color);
}

nav{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px ;
    background-color:white;

}

nav img{
    height: 100%;
}

nav a{
    color: var(--primary-color);
    font-weight: 600;
}

#Home_menu_link{
    color: var(--secondary-color);
}
.div1{
    height: 90vh;
    width: 100%;
    padding: 0 90px;
    background-image:url(banner.png) ;
    display: flex;
    color: var(--text-color);
    align-items: center;
    gap: 80px;
}

.div1_info{
    width: 80%;
    color: var(--primary-color);
    font-weight: 700;
}


.div1_info h2{
    color: #ff3c28;
    font-size: 50px;
    font-weight: 900;
    margin: 20px 0;
}

.div1_info h3{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;
}

.div2_info
{
    min-height: 60vh;
    width: 100%;
    padding: 0 90px;
    background-image: url(imgg1.png);
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color);
    align-items: center;
    justify-content: start;
    padding-bottom: 50PX;
}

.div2_info h2{
    margin-top: 50px;
    text-decoration: underline ;
    text-decoration-color: var(--secondary-color);
}
.div1_info P{
    border: 1px solid white;
    padding: 10px;
}

.enroll_info button{
    font-weight: 900;
    border: none;
    padding: 10px;
    width: 111px;
    border-radius: 14px;
    background-color: red;
    color: white;
    margin-right: 30px;
}

.enroll_info button:hover{
    background-color: #272a31;
    color: var(--secondary-color);
}

.cards{
    display: flex;
    width:100%;
    gap: 10PX;
    justify-content: center;
    
}

.card_program{
    font-size: 12px;
    width: 24%;
}

.card .card-title{
    text-align: center;
}

.featured_speaker
{
    background-color: var(--text-color);
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 90px;
}


.featured_speaker h2
{
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-color:var(--secondary-color) ;
}


.feature_start
{
    min-height: 30vh;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}

.card-title{
    color: var(--secondary-color);
    font-weight: 600;
}

.row{
    margin: 10px;
}

#card_img
{
    height: 20px
}

#speakers-container{
    margin: 20px 0;
}

.h21{
    display: flex;
}

.block{
    display: flex;
    height: 200px;

}

.left_block{
    height: 100%;
    width: 39%;
    
}

.right_block{

}

.partner{
    height: 191px;
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.partner h2
{
    height: 56px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color:var(--secondary-color) ;
    color: var(--text-color);
    

}

#card_program{
    border: 1px solid white;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.par_img{
    height: 78px;
    width: 100%;
    text-align: center;
}

.par_img img{
    height: 100%;
    width: 200px;
    margin: 0 12px;
}

footer{
    height: 191px;
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    
}

button#view-more-btn{
    font-weight: 900;
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 14px;
    background-color: red;
    color: white;
    margin-right: 30px;
}

footer img{
    height: 80%;
    width: 30%;
}

.footer p {
    margin: 5px 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-links li {
    margin: 0 10px;
}

.footer-links a {
    color:var(--primary-color);
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}